
.navbar{
    width:100vw;
    margin: 0 auto;
    padding: 48px 74px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: sticky;
    top: 0%;
    z-index: 3;
    background-color: transparent;
    backdrop-filter: blur(2px);
}
.navbar-name{
    font-size: 24px;
    font-weight: 400;
}
.navbar img{
    height: 4rem;
}
.logo{
    height: 3rem;
    width: 4rem;
    object-fit: cover;
}
.desktopMenu{
    background-image: linear-gradient(var(--list-bg-color),transparent);
    padding: 14px;
    gap: 40px;
    border-radius: 290px;
}
.nonactive:hover{
    color: var(--primary-color);
    padding-bottom: 10px;
    border-bottom: 3px solid var(--primary-color);
}
.active{
    background-color: var(--primary-color);
    /* background-image: linear-gradient(var(--list-bg-color),transparent); */
    color: black;
    border-radius: 100px;
    padding: 10px;
}
.desktopMenuListItem{
    font-size: 14px;
    font-weight: 400;
    margin: 1rem;
    cursor: pointer;
}
.desktopMenuBtn{
    display: flex;
    align-items: center;
    background-color: var(--primary-color);
    border: none;
    padding: 14px 20px;
    border-radius: 40px;
    font-size: 16px;
    font-weight: 500;
}
.desktopMenuBtn i{
    display: none;
}
.desktopMenuBtn:hover i{
    display: inherit;
}
.desktopMenuBtn i{
    margin-right: 5px;
}

.menu-toggle {
    display: none;
    color: aliceblue;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

.desktopMenu.open {
    display: flex;
}

@media screen and (max-width: 768px) {
    .navbar {
        padding: 20px 30px;
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar-name {
        font-size: 20px;
        margin-bottom: 20px;
    }
    .desktopMenu {
        flex-direction: column;
        gap: 20px;
        width: 100%;
        align-items: flex-start;
        padding: 0;
    }
    .desktopMenuListItem {
        margin: 0.5rem 0;
        font-size: 18px;
    }
    .desktopMenuBtn {
        width: 100%;
        justify-content: center;
        padding: 10px;
    }
    .menu-toggle {
        display: block;
    }
    .desktopMenu {
        display: none;
        flex-direction: column;
        gap: 20px;
        width: 100%;
        align-items: flex-start;
        padding: 0;
    }
}

/* Styles for screens smaller than 480px */
@media screen and (max-width: 480px) {
    .navbar {
        padding: 10px 20px;
    }
    .navbar-name {
        font-size: 18px;
    }
    .desktopMenu {
        gap: 15px;
    }
    .desktopMenuListItem {
        font-size: 16px;
    }
    .desktopMenuBtn {
        font-size: 14px;
        padding: 8px 16px;
    }
}