#intro{
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow: hidden;
    /* background-color: red; */
    padding: 65px 76px;
}



    
.bg{
    transform: scale(1.5);
    height: 460px;
}
.introContent{
    text-align: left;
    /* padding: 220px 190px; */
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hello{
    font-size: 50px;
    font-weight: 400;
}

.introName{
    background-image: linear-gradient(var(--primary-color), var(--bg-color));
    color: transparent;
    -webkit-background-clip: text;
}
.introPara{
    font-size: medium;
    font-weight: 100;
}

.introBtn{
    background-color: var(--primary-color);
    border: none;
    padding: 1rem;
    border-radius: 100px;
}

@media screen and (max-width:840px){
    .bg{
        right: -20vw;
    }
    .introContent{
        font-size: 10vw;
    }
}

