#projects{
    padding:10px 76px
}
.projectDetail{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0px;
}
.project-look-at-my-pro{
    font-size: 32px;
}
.projects-pro{
    font-size: 38px;
    font-weight: 500;
    background-image: linear-gradient(var(--primary-color), var(--bg-color));
    color: transparent;
    -webkit-background-clip: text;
}
.projects-domain-btn{
    padding: inherit 0px;
}
.projects-domain-btn button{
    color: white;
    border: none;
    padding: 4px 20px;
}
.ptojects-toggle-button:hover {
    border-radius: 10px;
    background-color: #3d4041;
}

.project-glass{
    padding: 20px 20px 0 20px;
    max-width: 640px;
    height: 640px;
    overflow: scroll;
    scrollbar-color: var(--primary-color) transparent;
    display: grid;
    grid-template-columns: 290px 290px;
    gap:20px;
    /* flex-wrap: wrap; */
    justify-content: center;
    background-color: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(4px);
    border: 2px solid #3d4041;
    border-radius: 20px;
    position: relative;
}

.project-glass-outer{
    padding: 0;
    margin: 0;
    max-width: 640px;
    position: relative;
}
.project-glass-outer::after{
    content: "";
    width: 106px;
    height: 106px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 1;
    transform: translate(calc(50% + 75px), calc(-50% + 115px)) rotate(45deg);
    
    background: conic-gradient(transparent 0deg 135deg,rgba(255, 255, 255, 0.12) 135deg 315deg,transparent 315deg 360deg);
    /* background-color: rgba(255, 255, 255, 0.12); */
    backdrop-filter: blur(4px);
    box-shadow: none;
}
.project-info{
    position: absolute;
    height: 350px;
    width: 580px;
    /* max-width: 920px; */
    
    background-color: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(8px);
    right: calc(-100% - 15px);
    top: 0;
    border-radius: 14px;
    border: 2px solid#3d4041;
    z-index: 2;
}

.Project-message{
    /* background-color: red; */
    width: 75%;
    height: 278px;
    background-color: rgba(255, 255, 255, 0.12);
    backdrop-filter: blur(8px);
    border: 2px solid#3d4041;
}

.project-data{
    display: flex;
    justify-content: space-between;
    gap: 40px;
}
.Project-message-inner{
    display: flex;
    /* width: 50% */
    width: 580px;
}
.Project-message{
    text-align: center;
    align-self: last baseline;
    /* clip-path: polygon(25% 0, 100% 0%, 100% 100%, 0 100%, 0% 50%); */
    border-radius: 10px;
    position: relative;
}
.Project-message h3{
    font-size: 24px;
    background-image: linear-gradient(var(--primary-color), var(--bg-color));
    color: transparent;
    -webkit-background-clip: text;
}

.send-icon{
    padding: 5px 10px;
    width: fit-content;
    background-color: var(--primary-color);
    color: var(--bg-color);
    border-radius: 10px;
    position: absolute;
    bottom: 5px;
    right: 5px;
}
.text{
    width: 90%;
    height: 70%;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.009);
    backdrop-filter: blur(10px);
    border: none;
    color: aliceblue;
}