.projectsCard{
    background-color: #4B4B4B;
    color: white;
    padding: 0;
}

.projects-card{
    background-color: #1d1c20;
    /* margin: 13px; */
    /* min-width: 240px; */
    width: 240px;
    overflow: hidden;
    border-radius: 20px;
}

.projects-card:hover{
    transform: scale(1.01);
    transition: 0.5s ease-in-out ;
    background-color: var(--primary-color);
    color: black;
}

.projects-card-img-top{
    width: 100%;
    border-top: 10px;
    
}
.projects-btn{
    text-decoration: none;
    color: #4B4B4B;
}
.projects-card-title a{
    font-weight: 500;
    text-decoration: none;
    color: inherit;
}

.projects-card-body{
    padding: 20px 30px;
    text-align: left;
}

.activeProject{
    transform: scale(1.02);
    background-color: var(--primary-color);
    /* background-image: linear-gradient(var(--list-bg-color),transparent); */
    color: black;
    /* border-radius: 100px; */
    padding: 10px;
}