.project-info-relative{
    color: var(--primary-color);
    height: fit-content;
    position: relative;
    
}
.project-info-name-links{

    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    
}
.project-info-name-links h3{
    font-weight: 500;
}

.project-info-icondiv i{
    margin: 0px 5px;
}
.project-info-desc-prob{
    padding: 10px;
    height: 296px;
    overflow: scroll;
    
}

.project-info-desc-prob span{
    color: var(--primary-color);
    font-weight: 600;
}